.vs
artifacts
bin
obj
*.user
TestFiles/
*.suo
Tools/PEVerify.*
packages/
project.lock.json
Tests.Dnx/*.dll
Tests.Dnx/*.bin
Tests.Dnx/*.dat
Tests.Dnx/*.dump
Tests.Dnx/Data.protobuf
Tests.Dnx/big.file
Tests.Dnx/sandbox.txt
Tests.Dnx/protoTest.txt
Tests.Dnx/TraceCompile.txt
*.NoCommit.*
*.pubxml
del.me
_ReSharper.Caches/
BenchmarkDotNet.Artifacts/
filedata.bin
*.binlog
src/VBTest/*
src/Benchmark/DalSerializer.dll
.nupkgs/*
.idea/
profile.arm.json
.DS_Store