<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">protogen</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <NavLink class="nav-item  nav-link" href="" Match="NavLinkMatch.All">
                Code Generator
            </NavLink>
            <NavLink class="nav-item nav-link" href="/decode" Match="NavLinkMatch.All">
                Binary parser
            </NavLink>
            <NavLink class="nav-item nav-link" href="/about" Match="NavLinkMatch.All">
                About
            </NavLink>
            <a class="nav-item nav-link" title="Source, Issues, Documentation" href="https://github.com/protobuf-net/protobuf-net" target="_blank">
                GitHub
            </a>
            <a href="https://www.buymeacoffee.com/marcgravell" target="_blank">
                <img src="https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png" alt="Buy Me A Coffee" />
            </a>
        </div>
    </div>
</nav>