<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBinding" transferMode="Buffered" messageEncoding="Mtom"
                 maxReceivedMessageSize="6553600" maxBufferSize="6553600">
          <security mode="None" />
          <readerQuotas maxArrayLength="250000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/MyService"
                binding="basicHttpBinding"
          bindingConfiguration="basicBinding" contract="Examples.ServiceModel.IMyService"
          name="FooEndpoint">
      </endpoint>
    </client>
    <services>
      <service name="Examples.ServiceModel.MyService" behaviorConfiguration="FooService">
        <endpoint address=""
                  binding="basicHttpBinding" bindingConfiguration="basicBinding"
                  contract="Examples.ServiceModel.IMyService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FooService">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>