<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <!--<diagnostics>
      <messageLogging logEntireMessage="true"
                      maxMessagesToLog="300"
                      logMessagesAtServiceLevel="true"
                      logMalformedMessages="true"
                      logMessagesAtTransportLevel="true"
                      maxSizeOfMessageToLog="10000000"/>
    </diagnostics>-->
    <bindings>
      <basicHttpBinding>
        <binding name="nwindMtomBinding" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536000" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000"
            messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="65536000"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="nwindTextBinding" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536000" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="65536000"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3468/NWindMtomService.svc" binding="basicHttpBinding"
          bindingConfiguration="nwindMtomBinding" contract="NWind.INWindService"
          name="nwindMtom" />
      <endpoint address="http://localhost:3468/NWindTextService.svc" binding="basicHttpBinding"
          bindingConfiguration="nwindTextBinding" contract="NWind.INWindService"
          name="nwindText" />

      <endpoint address="http://mgravell2003e/NWindMtomService.svc" binding="basicHttpBinding"
          bindingConfiguration="nwindMtomBinding" contract="NWind.INWindService"
          name="nwindMtomRemote" />
      <endpoint address="http://mgravell2003e/NWindTextService.svc" binding="basicHttpBinding"
          bindingConfiguration="nwindTextBinding" contract="NWind.INWindService"
          name="nwindTextRemote" />
    </client>
  </system.serviceModel>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\logs\pbtest.svclog" type="System.Diagnostics.XmlWriterTraceListener"
        name="xml" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>-->
</configuration>