@model protogen.site.Controllers.HomeController.DecodeModel
@{
    ViewData["Title"] = "Decode";
}
<h2>@ViewData["Title"].</h2>

@if(Model != null)
{
    <div>@Html.Partial("DecodeBytes", Model)</div>
}
<p>Enter your encoded message as hex to display information about the first field; you may need to call this iteratively, subtracting pieces.</p>
<form method="post">
    <div><textarea rows="5" style="width:100%; max-width: unset" name="hex" type="text" placeholder="encoded hex">@(Model.Bytes == null ? null : BitConverter.ToString(Model.Bytes))</textarea></div>
    <div><input type="submit" value="hex"/> <input type="checkbox" name="deep" value="true"/> recursively</div>
</form>

<form method="post">
    <div><textarea rows="5" style="width:100%;  max-width: unset" name="base64" type="text" placeholder="encoded base64">@(Model.Bytes == null ? null : Convert.ToBase64String(Model.Bytes))</textarea></div>
    <div><input type="submit" value="base-64"/> <input type="checkbox" name="deep" value="true" /> recursively</div>
</form>
