@model bool
@{
    if (Model)
    {
        ViewData["OnLoad"] = "onLoad()";
    }
    ViewData["Title"] = "Generator";
}
<h2>@ViewData["Title"].</h2>
<a href="/about">Wait... what is this?</a>
<section>
    <h3>.proto Schema (can be <a href="https://developers.google.com/protocol-buffers/docs/proto">proto2</a> or <a href="https://developers.google.com/protocol-buffers/docs/proto3">proto3</a>):</h3>
    @if (Model)
    {
        <p><em>You're using the <a href="http://jsil.org/">JSIL</a> cross-compiled version! Yay! Sorry about the script size...</em> to use the AJAX version, <a href="/">click here</a></p>
    }
    else
    {

    }
    <p>(note: some features are still missing; dynamic, Struct, Timestamp, Duration, Any, Wrapper types, FieldMask, ListValue, Value, NullValue)</p>
    <p>Pending work items in generated code:</p>
    <ul>
        <li>switch to bitwise mask ops for optional field tracking (rather than nullable-per-field)</li>
        <li>use fully qualified names when talking about the generated types</li>
        <li>intellisense comments</li>
    </ul>
    <button id="generatecsharp">Generate</button>
    <div id="protocontainer" style="width:100%; max-width:unset;height:600px;border:1px solid grey"></div>
    <script>

    </script>
    <p>Not sure what to use? How about <a href="https://raw.githubusercontent.com/google/protobuf/master/src/google/protobuf/descriptor.proto">descriptor.proto</a>?</p>
</section>
<section id="coderesult" style="display: none;">
    <h3>Generated Code</h3>
    <div id="csharpcontainer" style="width:100%; max-width:unset;height:600px;border:1px solid grey"></div>
</section>
<script src="~/lib/monaco-editor/min/vs/loader.js"></script>

@if(Model)
{
<script src="~/js/home.js" asp-append-version="true"></script>

<script type="text/javascript">
    var jsilConfig = {
        libraryRoot: '/js/jsil/',
        scriptRoot: '/js/protogen/',
        manifestRoot: '/js/protogen/',
        showProgressBar: true,
        manifests: ['protogen.dll'] // gets as far as Loading '/js/protogen/protogen.dll.manifest.js'... (200 OK)
    };
    var runMain = function () { // doesn't get invoked
        console.log('> main');
        window.asm = JSIL.GetAssembly("protogen", true); // (executed outside method) returns a stub with no content
        console.log('< main');
    };
</script>
<script src="~/js/jsil/jsil.js" asp-append-version="true"></script>
}