@using ProtoBuf.Models;
@using System.Text.RegularExpressions;
@page "/decode"
<h3>
    Online Protobuf Decoder.
</h3>

<p>This tool will pull apart arbitrary protobuf data (without requiring a schema), displaying the hierarchical content.</p>
<EditForm Model="@model" OnValidSubmit="@DoDecode">
    <DataAnnotationsValidator />
    
    <div class="form-group">
        <textarea class="form-control" @bind="model.Content" placeholder="Encoded hex or base64"></textarea>
    </div>
    <div class="form-group">
        @if(DecodeViewModel.IsHexa()){
            <text>Hexa</text>
        } else if(DecodeViewModel.IsBase64String()){
            <text>Hexa</text>
        }
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" @bind="model.Recursive" />
            <label class="form-check-label" for="opt_in_proto">
                Recursive
            </label>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Decode" />
    </div>

    <ValidationSummary />
</EditForm>
@if (decodeModel != null)
{
    <h3>Results</h3>

    <DecodeResult DecodeModel="@decodeModel"></DecodeResult>
}
@code {
    DecodeViewModel model = new DecodeViewModel();
    DecodeModel decodeModel;
    bool isBase64 = false;
    void DoDecode()
    {
        decodeModel = null;        
        
      
        decodeModel = (new DecodeModel(data, model.Recursive));

    }
    
}
